[submodule "SNES9x"]
	path = SNES9x
	url = https://github.com/Wowfunhappy/SNES9x-Core.git
[submodule "mGBA"]
	path = mGBA
	url = https://github.com/Wowfunhappy/mGBA-Core.git
[submodule "GenesisPlus"]
	path = GenesisPlus
	url = https://github.com/Wowfunhappy/GenesisPlus-Core.git
[submodule "Gambatte"]
	path = Gambatte
	url = https://github.com/Wowfunhappy/Gambatte-Core.git
[submodule "Nestopia"]
	path = Nestopia
	url = https://github.com/Wowfunhappy/Nestopia-Core.git
