<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OEControllerImageKey</key>
	<string>controller_pico8</string>
	<key>OEControllerImageMaskKey</key>
	<string>controller_pico8_mask</string>
	<key>OEControllerKeyPositionKey</key>
	<dict>
		<key>OEPICO8ButtonUp</key>
		<string>{117, 260}</string>
		<key>OEPICO8ButtonDown</key>
		<string>{118, 197}</string>
		<key>OEPICO8ButtonLeft</key>
		<string>{85, 228}</string>
		<key>OEPICO8ButtonRight</key>
		<string>{149, 228}</string>
		<key>OEPICO8ButtonO</key>
		<string>{349, 206}</string>
		<key>OEPICO8ButtonX</key>
		<string>{407, 240}</string>
		<key>OEPICO8ButtonPause</key>
		<string>{250, 130}</string>
	</dict>
</dict>
</plist>
