<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>org.openemu.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2024 OpenEmu Team. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>OESystemController</string>
	<key>OESystemIcon</key>
	<string>pico8_library</string>
	<key>OESystemName</key>
	<string>PICO-8</string>
	<key>OESystemIdentifier</key>
	<string>openemu.system.pico8</string>
	<key>OENumberOfPlayersKey</key>
	<integer>1</integer>
	<key>OEResponderClassKey</key>
	<string>OEPICO8SystemResponder</string>
	<key>OEFileSuffixes</key>
	<array>
		<string>p8</string>
		<string>p8.png</string>
	</array>
	<key>OEControlListKey</key>
	<array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Left</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPICO8ButtonLeft</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Right</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPICO8ButtonRight</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Up</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPICO8ButtonUp</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>Down</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPICO8ButtonDown</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>O</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPICO8ButtonO</string>
			</dict>
			<dict>
				<key>OEControlListKeyLabelKey</key>
				<string>X</string>
				<key>OEControlListKeyNameKey</key>
				<string>OEPICO8ButtonX</string>
			</dict>
		</array>
	</array>
	<key>OEGenericControlNamesKey</key>
	<array>
		<string>OEPICO8ButtonLeft</string>
		<string>OEPICO8ButtonRight</string>
		<string>OEPICO8ButtonUp</string>
		<string>OEPICO8ButtonDown</string>
		<string>OEPICO8ButtonO</string>
		<string>OEPICO8ButtonX</string>
		<string>OEPICO8ButtonPause</string>
	</array>
	<key>OEControlTypesKey</key>
	<dict>
		<key>OEHatSwitchControlsKey</key>
		<array>
			<array>
				<string>OEPICO8ButtonUp</string>
				<string>OEPICO8ButtonRight</string>
				<string>OEPICO8ButtonDown</string>
				<string>OEPICO8ButtonLeft</string>
			</array>
		</array>
		<key>OEAxisControlsKey</key>
		<array>
			<array>
				<string>OEPICO8ButtonUp</string>
				<string>OEPICO8ButtonDown</string>
			</array>
			<array>
				<string>OEPICO8ButtonLeft</string>
				<string>OEPICO8ButtonRight</string>
			</array>
		</array>
	</dict>
</dict>
</plist>
